.section1 {
    padding: 1% 7% 2%;
}

.section1-parent-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8%;
}

.section1 .mini-container1 {
    width: 42%;
}

.section1 .mini-container2 {
    width: 47%;
}

.image-container {
    width: 90%;
    height: 70vh;
    object-fit: cover;
    border-radius: 20px;
    overflow: hidden;
}

.images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-heading {
    font-size: 36px;
    font-family: var(--font2);
    font-weight: 400;
}

.fullName {
    width: 95%;
    height: 40px;
    font-size: 16px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border: 1px solid black;
    font-family: var(--font2);
}

.fullName::placeholder {
    font-family: var(--font2);
    font-size: 16px;
}

form {
    padding-top: 10px;
}

.label1 {
    font-size: 18px;
    padding-bottom: 2px;
}

.send {
    width: 25%;
    cursor: pointer;
    margin-top: 20px;
    background-color: #fff;
}

.send i {
    padding-left: 5px;
    font-size: 18px;
    transform: translateY(3px) rotate(-45deg);
}

.comment {
    padding-top: 10px;
    height: 70px;
}

.label1 {
    color:
        #141414;
    font-family: var(--font2);
    font-size: 18px;
}

/* smaller screen */
@media screen and (min-width:1600px) {
    .section1 {
        padding: 1% 7% 2%;
    }

    .section1-parent-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 8%;
    }

    .section1 .mini-container1 {
        width: 42%;
    }

    .section1 .mini-container2 {
        width: 47%;
    }

    .image-container {
        width: 90%;
        margin: auto;
        height: 55vh;
        object-fit: cover;
        border-radius: 20px;
        overflow: hidden;
    }

    .images {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .form-heading {
        font-size: 30px;
        font-family: var(--font2);
        font-weight: 400;
    }

    .fullName {
        width: 90%;
        height: 50px;
        font-size: 18px;
        border-radius: 15px;
        padding-left: 10px;
        padding-right: 10px;
        border: none;
        border: 1px solid black;
        font-family: var(--font2);
    }

    .fullName::placeholder {
        font-family: var(--font2);
        font-size: 16px;
    }

    form {
        padding-top: 10px;
    }

    .label1 {
        font-size: 18px;
        padding-bottom: 2px;
    }

    .send {
        width: 25%;
        cursor: pointer;
        margin-top: 20px;
        background-color: #fff;
    }

    .send i {
        padding-left: 5px;
        font-size: 18px;
        transform: translateY(3px) rotate(-45deg);
    }

    .comment {
        padding-top: 10px;
        height: 80px;
    }

    .label1 {
        color:
            #141414;
        font-family: var(--font2);
        font-size: 20px;
    }

}

@media screen and (min-width:1024px) and (max-width:1280px) {
    .section1 {
        padding: 1% 7% 2%;
    }

    .section1-parent-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 8%;
    }

    .section1 .mini-container1 {
        width: 42%;
    }

    .section1 .mini-container2 {
        width: 47%;
    }


    .form-heading {
        font-size: 30px;
        font-family: var(--font2);
        font-weight: 400;
        margin-top: 8%;
    }

    .fullName {
        width: 100%;
        height: 40px;
        font-size: 18px;
        border-radius: 15px;
        padding-left: 10px;
        padding-right: 10px;
        border: none;
        border: 1px solid black;
        font-family: var(--font2);
    }

    .image-container {
        width: 90%;
        height: 49vh;
        object-fit: cover;
        border-radius: 20px;
        overflow: hidden;
        margin-top: 10%;
    }

    .fullName::placeholder {
        font-family: var(--font2);
        font-size: 16px;
    }

    form {
        padding-top: 10px;
    }

    .label1 {
        font-size: 18px;
        padding-bottom: 2px;
    }

    .send {
        width: 25%;
        cursor: pointer;
        margin-top: 20px;
        background-color: #fff;
    }

    .send i {
        padding-left: 5px;
        font-size: 18px;
        transform: translateY(3px) rotate(-45deg);
    }

    .comment {
        padding-top: 10px;
        height: 80px;
    }

    .label1 {
        color:
            #141414;
        font-family: var(--font2);
        font-size: 20px;
    }

}

/* mobile view  */
@media only screen and (max-width: 768px) {
    .section1 {
        margin-left: 6%;
        margin-top: 15%;
        padding-bottom: 20px;
    }

    .section1-parent-container {
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    }

    .section1 .mini-container1,
    .section1 .mini-container2 {
        width: 100%;
    }

    .form-heading {
        font-size: 20px;
        text-align: center;
        padding-top: 10px;
        /* Reduced font size for mobile */
    }

    .para {
        font-size: 14px;
        font-family: var(--font2);
        font-weight: 400;
        text-align: center;
        padding-bottom: 15px;
        text-align: center !important;
    }

    .fullName {
        height: 40px;
        /* Adjust height for better mobile usability */
        font-size: 16px;
        width: 94%;
        /* Slightly smaller font size for mobile */
    }

    .fullName::placeholder {
        font-size: 14px;
        /* Adjust placeholder font size */
    }

    .send {
        width: 35%;
        font-size: 20px;
    }

    .send i {
        font-size: 20px;
        /* Adjust icon size */
    }

    .comment {
        height: 100px;
        /* Adjust height for better fit */
        font-size: 16px;
        /* Slightly smaller font size for mobile */
    }

    .label1 {
        font-size: 20px;
        /* Adjust font size for mobile view */
    }
}

/*********** section2 */
.section2 {
    /* padding: 0% 0 0% 7%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    background-color: #E2DDD04A;
    overflow: hidden;
    padding: 2%;
    margin-top: 6%;
}

.section2-mini-block2 {
    width: 51%;
}

.socialmedia-section-parent {
    padding-top: 20px;
}

.socialmedia-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    width: 100%;
}

.icon-block {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* padding-top: 15px;
    padding-left: 15px; */
    background-color: var(--brown-color);
    overflow: hidden;
}

.location {
    height: 40px;
    width: 40px;
    /* padding-left: 18px; */
}

.adderss-text-block {
    width: 90%;
}

.socialmedia-section i {
    font-size: 24px;
    color: #fff;
}

.section2-image-block {
    width: 100%;
    /* border-radius: 40px 0 0 40px; */
    overflow: hidden;
    animation: slideFromTop 2.5s linear forwards;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.section2-mini-block1 {
    width: 42%;
    opacity: 0;
    animation: appearAndSlideFromBottomLeft 4s 1s ease forwards;
}

.section2-image {
    width: 100%;
    height: auto;
}

/* Responsive Styles */

/* Extra-large screens */
@media screen and (min-width: 1600px) {
    .section2 {
        padding: 5% 10%;
        gap: 8%;
        margin-top: 40px;
    }

    .icon-block {
        height: 55px;
        width: 55px;
    }

    .socialmedia-section i {
        font-size: 24px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .section2 {
        /* margin-top: 6%; */
        display: flex;
        align-items: center;
    }

}


/* Tablets & Mobiles */
@media only screen and (max-width: 768px) {
    .section2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 8% 5%;
        gap: 30px;
    }

    .section2-mini-block1,
    .section2-mini-block2 {
        width: 100%;
        max-width: 100%;
    }

    .socialmedia-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0px;
        padding-top: 2px;
        width: 100%;
    }
}

.icon-block {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    /* flexbox for centering */
    align-items: center;
    /* vertical centering */
    justify-content: center;
    /* horizontal centering */
    background-color: var(--brown-color);
}

.location {
    height: 40px;
    width: 40px;
}

.socialmedia-section i {
    font-size: 18px;
    color: #fff;
    /* ensure white icons on dark background */
}

.adderss-text-block {
    max-width: 100%;
    text-align: center;
}

.section2-image-block {
    width: 100%;
    border-radius: 15px;
}

.section2-image {
    border-radius: 12px;
    width: 100%;
    height: auto;
}

.para {
    text-align: left;
}

/********************** section3 */
.section3 {
    padding: 2% 0;
}

.cards {
    padding-left: 10px;
}

.scrolling-image-block {
    width: 100%;
    height: auto;
}

.scrolling-image {
    width: 100%;
    height: 100%;
}


/* ************* footer ********** */
/* ---------------------------------------------footer-------------- */
.footer {
    /* width: 94%; */
    padding: 1% 10%;
    background-color: #fff;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.logo-block {
    width: 13%;
}

.footerlogo {
    width: 70%;
}

.footer-logo-tab {
    margin-left: 0 !important;
}

.info-mail-block {
    width: 20%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--brown-color);
    padding: 0% 0%;
    /* margin: auto !important; */
    margin-top: 10px;
    /* border: 2px solid red; */
}

.info-address-block {
    width: 40%;
    padding-left: 2%;
    /* margin: auto; */
}

.info-mail-block i {
    width: 30px;
    font-size: 20px;
}

.info-phone-block {
    margin-left: 2%;
}

.footercon {
    color: lightslategrey;
    font-size: 16px;
    font-family: var(--font2);
    font-weight: 400;
}

#licience {
    /* width: 94%; */
    background-color: #fff;
    margin: auto;
    padding: 10px 5% 10px 10%;
    background-color: #fff;
}

#licience h6 {
    color: lightslategrey;
    font-family: "Microsoft Yahei";
    font-weight: 600;
    text-align: center;
    font-size: 10px;
}

.footer-for-tab {
    display: none;
}


@media screen and (min-width: 1600px) {
    .header-section {
        width: 95%;
        margin: auto;
        margin-left: 2%;
        padding: 10px 15%;
    }

    .header2 {
        width: 88%;
        background-color: #000000;
        backdrop-filter: blur(5px);
        top: 0;
        padding: 1%;
        /* Adjust padding as needed */
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        position: fixed;
        z-index: 1000;
        margin-left: 6%;
    }

    .footer {
        width: 100%;
    }

    #licience {
        width: 80%;
        margin: auto;
    }

    .info-address-block {
        width: 40%;
        padding-left: 2%;
        /* margin: auto; */
    }

    .info-mail-block i {
        width: 15%;
        font-size: 35px;
        padding-right: 15px;
    }

    .info-phone-block {
        margin-left: 2%;
    }

    .footercon {
        color: var(--brown-color);
        font-size: 20px;
        font-family: var(--font2);
        font-weight: 400;
    }

    #licience {
        /* width: 94%; */
        background-color: #fff;
        margin: auto;
        padding: 10px 5% 10px 10%;
        background-color: #fff;
    }

    #licience h6 {
        color: var(--brown-color);
        font-family: "poppins";
        font-weight: 600;
        text-align: center;
        font-size: 20px;
    }
}

@media screen and (min-width: 1301px) and (max-width: 1430px) {
    .footer {
        padding-bottom: 10px;
    }

    .footer-logo-laptop {
        width: 100%;
    }
}

@media screen and (min-width: 1131px) and (max-width: 1300px) {
    .header-section {
        width: 92%;
        margin: auto;
        padding: 10px 10%;
    }

    .header2 {
        width: 88%;
        padding: 10px 4%;
        margin-left: 6%;
    }

    .logo-section {
        width: 20%;
    }

    .nav-section {
        width: 70%;
    }

    .socialmedia-section {
        /* width: 10%; */
    }

    .nav-list-options {
        gap: 50px;
    }
}

@media screen and (min-width: 880px) and (max-width: 1130px) {
    .global-section {
        padding: 0 1%;
    }

    .header-section {
        width: 92%;
        margin: auto;
        padding: 10px 5%;
    }

    .header2 {
        width: 100%;
    }

    .heading-font {
        font-size: 50px;
    }

    .nav-list-options li a {
        font-size: 14px;
    }

    .nav-section {
        width: 70%;
    }

    .socialmedia-section {
        width: 10%;
    }

    .nav-list-options {
        gap: 30px;
    }

    .socialmedialogos {
        color: white;
        font-size: 14px;
    }

    .footer-logo-laptop {
        width: 100%;
    }

    #info_mail {
        margin-left: -20px;
    }

    #info_phone {
        margin-left: -30px;
    }

    .info-mail-block {
        width: 60%;
    }
}

@media screen and (max-width: 880px) {
    .heading-font {
        font-size: 40px;
    }

    .header-section {
        width: 100%;
        margin: auto;
        padding: 10px 5%;
        justify-content: space-between;
        top: 0;
        background-color: #b5704e;
    }

    .header2 {
        width: 100%;
        top: 0;
        border-radius: 0;
    }

    .global-section {
        padding: 0 0%;
    }

    .logo-section {
        width: 25%;
    }

    .nav-section {
        display: none;
    }

    /* .socialmedia-section {
        display: none;
    } */

    .socialmedialogos {
        font-size: 16px;
        padding: 5px;
    }

    #bar {
        display: block;
        font-size: 30px;
    }

    .footer {
        display: none;
    }

    .footerlogo {
        margin-left: 40%;
        padding-left: 0px;
        padding-bottom: 0px;
    }

    .footer-for-tab {
        width: 100%;
        background-color: #fff;
        display: flex;
        justify-content: space-evenly;
        padding: 2%;
    }

    .mail-phone-adderss {
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin-left: 10px;
        padding-bottom: 5px;
    }

    .footer-logo-tab2 {
        width: 20%;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    #licience {
        width: 100%;
        background-color: #fff;
        border-top: 1px solid black;
    }
}

@media screen and (max-width: 780px) {
    #bar {
        display: block;
        font-size: 24px;
    }
}

@media screen and (max-width: 600px) {
    #bar {
        display: block;
        font-size: 20px;
        top: 20px;
    }

    .footer {
        width: 90%;
        margin: auto;
        padding: 10px 0px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .tab-div1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .tab-div2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .footerline {
        display: none;
    }

    .footer-logo-tab2 {
        width: 20%;
        margin: auto;
        display: flex;
        justify-content: center;
        display: none;
    }

    .footer-for-tab {
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 2% 4% 0;

    }

    .footerlogo {
        margin-left: 0px;
        padding-left: 0px;
        padding-bottom: 0px;

    }

    .info-mail-block {
        width: 70%;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        border-left: 0px solid #51372a;
        padding: 10px;
        margin-top: 0px;
    }

    .info-phone-block {
        margin-left: 0;
        margin-top: 0px !important;
    }

    .info-mail-block i {
        width: 30px;
        font-size: 20px;
    }

    .footercon {
        font-size: 14px;
        width: 95%;
        margin: auto;
        text-align: center;
        padding: 5px;
    }

    .header-logo-mobile {
        margin-left: 0%;
        padding-left: 0%;
        padding-bottom: 20px;
    }

    #licienceName {
        font-size: 14px;
        width: 95%;
        margin: auto;
        text-align: center;
        padding: 5px;
    }
}

@media screen and (max-width: 480px) {
    .logo-section {
        width: 30%;
        /* padding-top: 50px; */
        /* margin-left: 5%; */
    }

    #bar {
        display: block;
        font-size: 22px;
        top: 15px;
    }
}

@media screen and (max-width: 390px) {
    .logo-section {
        width: 35%;
    }

    #bar {
        display: block;
        font-size: 22px;
    }
}