@font-face {
    font-family: "Gallient Regular";
    src: url("https://db.onlinewebfonts.com/t/ecce6fb92d2957e8e04867dc281f666b.eot");
    src: url("https://db.onlinewebfonts.com/t/ecce6fb92d2957e8e04867dc281f666b.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/ecce6fb92d2957e8e04867dc281f666b.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/ecce6fb92d2957e8e04867dc281f666b.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/ecce6fb92d2957e8e04867dc281f666b.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/ecce6fb92d2957e8e04867dc281f666b.svg#Gallient Regular")format("svg");
}

/* Use following values as variables */
:root {
    --theme-color-1: #51372A;
    --theme-color-2: #253D8D;
    --main-heading-font: "gallient regular", serif;
    --sub-heading-font: "Microsoft YaHei";
    --body-text-font: "Microsoft YaHei";
    --std-padding: 40px;
    --header-height: 100px;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--body-text-font);
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.padding-x {
    padding-left: var(--std-padding);
    padding-right: var(--std-padding);
}

.section-100vh{
    min-height: 100vh;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-divider{
    border-top: 1px solid var(--theme-color-1);
    width: 100%;
    margin: auto;
}

.main-top-padding-header{
    padding-top: 70px;
}


/* Header Style */
.header-main-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    z-index: 1000;
}

.navbar{
    background-color: transparent;
    box-shadow: none;
    transition: all 0.5s ease-in-out;
}

.header-main-container.filled-bg .navbar{
    background-color: #fff;
    box-shadow: 0 10px 10px rgb(218, 218, 218);
}

.header-main-container .navbar.bg-light-hard{
    background-color: #fff !important;
    box-shadow: 0 10px 10px rgb(218, 218, 218) !important;
}

.header-logo-container {
    width: auto;
    height: 50px;
}

.header-logo-container .logo {
    height: 100%;
    width: auto;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar-nav .nav-link {
    font-size: 16px;
    opacity: 0.8;
    transition: all 0.2s;
}

.navbar-nav .nav-link:hover{
    color: var(--theme-color-1);
}

.navbar-nav .nav-item.active .nav-link {
    font-weight: 600;
    opacity: 1;
    color: var(--theme-color-1);
}

.contact-details-container {
    margin: auto;
    background-color: #000;
    border-radius: 0 0 25em 25em;
    padding: 5px 30px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    width: fit-content;
}

.contact-details-container .data {
    margin-bottom: 0;
    color: #fff;
    margin: 0 30px;
    font-size: 14px;
}

.contact-details-container .social-media-btn {
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 14px;
    padding: 0 5px;
    margin: 0 5px;
    cursor: pointer;
}

.section-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title-container .title-container .title{
    font-size: 50px;
    margin-bottom: 0;
    font-family: var(--main-heading-font);
    text-transform: uppercase;
}

.section-title-container .title-container .title .target{
    font-family: var(--main-heading-font);
    color: var(--theme-color-1);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 15px;
}

.section-title-container .navigation-button{
    background-color: rgb(231, 231, 231);
    rotate: 45deg;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
}

.page-contact-section .inner-container .contact-main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    padding: 30px;
    border-radius: 40px;
    background-color: var(--theme-color-1);
}

.page-contact-section .inner-container .contact-main-container .image-container{
    height: 100%;
    width: 100%;
}

.page-contact-section .inner-container .contact-main-container .image-container .image{
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.page-contact-section .contact-main-container .form-container .form-title{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0px;
}

.page-contact-section .contact-main-container .form-container .form-sub-title{
    font-size: 14px;
    color: #fff;
    margin-bottom: 5px;
}

.page-contact-section .contact-main-container .form-container .input-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.page-contact-section .contact-main-container .form-container .input-container .label{
    color: #fff;
    font-size: 14px;
    margin-bottom: 3px;
    font-weight: 500;
}

.page-contact-section .contact-main-container .form-container .input-container .input{
    padding: 5px 20px;
    border-radius: 50em;
    border: 0;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    font-size: 14px;
    max-width: 400px;
}

.page-contact-section .contact-main-container .form-container .submit-btn{
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    padding: 5px 20px;
    border: 1px solid #fff;
    border-radius: 50em;
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
}


.page-contact-section .contact-main-container .form-container .input-container select option{
    color: #000;
}


/* Footer styles */

.footer-main-container{
    border-top: 1px solid var(--theme-color-1);
    border-bottom: 1px solid var(--theme-color-1);
    padding: 10px 0;
}

.footer-main-container .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-main-container .grid-container .grid-item{
    border-right: 1px solid var(--theme-color-1);
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-main-container .grid-container .grid-item:last-child{
    border-right: 0;
}

.footer-main-container .grid-container .grid-item .text{
    margin-bottom: 0;
    font-size: 15px;
}

.copyright-container .copyright-text{
    text-align: center;
    font-size: 12px;
    color: var(--theme-color-1);
    font-weight: bold;
    margin-bottom: 0;
}

.floating-elements-container .whatsapp-btn{
    font-size: 40px;
    color: #25D366;
    position: fixed;
    bottom: 0;
    left: 10px;
    z-index: 1000;
}

.floating-elements-container .phone-btn{
    font-size: 20px;
    color: #fff;
    background-color: var(--theme-color-1);
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

/* *************************** */
/*         Media Queries      */
/* ************************* */

/* Large laptop */
@media screen and (max-width:1400px) {}

/* Small laptop */
@media screen and (max-width:1200px) {
    .header-logo-container {
        height: 50px;
    }
}

/* Tablet */
@media screen and (max-width:992px) {
    .header-logo-container {
        height: 40px;
    }
}

@media screen and (max-width:768px) {
    .section-title-container .title-container .title{
        font-size: 30px;
    }
    .header-logo-container {
        height: 40px;
    }

    .contact-details-container {
        padding: 3px 10px;
        border-radius: 0 0 20px 20px;
    }

    .contact-details-container .data {
        margin: 0 15px;
        font-size: 14px;
    }

    .contact-details-container .social-media-btn {
        font-size: 14px;
        padding: 0 3px;
        margin: 0 3px;
    }
}

/* Large mobile */
@media screen and (max-width:576px) {
    :root {
        --std-padding: 20px
    }

    .section-title-container .title-container .title{
        font-size: 25px;
    }

    .page-contact-section .contact-main-container .form-container .form-title{
        font-size: 30px;
    }    

    .page-contact-section .inner-container .contact-main-container{
        padding: 20px;
        grid-template-columns: 1fr;
    }

    .page-contact-section .inner-container .contact-main-container .image-container{
        display: none;
    }

    .footer-main-container .grid-container{
        grid-template-columns: 1fr;
    }

    .footer-main-container .grid-container .grid-item{
        border-right: 0;
        border-bottom: 1px solid var(--theme-color-1);
        padding: 10px 0;
    }

    .footer-main-container .grid-container .grid-item:last-child{
        border-bottom: 0;
    }
}


/* Small mobile */
@media screen and (max-width:375px) {}

@media screen and (max-width:320px) {}

/* *************************** */
/*         Media Queries END     */
/* ************************* */