body {
    background-color: black;
}

.heading-con {
    padding-top: 10%;
    margin-left: 5%;
}
.project-list-align {
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    gap: 8%;
    position: relative;
}

.overview {
    padding: 10px;
    font-size: 20px;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    text-decoration: underline;
    text-decoration-color: var(--brown-color);
}

#project-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 80%;
    position: relative;
    z-index: 1;
    cursor: pointer;
    overflow: hidden;
    height: auto;
   
}

.project-item {
    padding: 5px;
    font-size: 20px;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s, transform 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
    position: absolute;
    width: 100%;
}
.project-item.active {
   background-color: #E2DDD0;
    color: var(--brown-color); /* Text color for active item */
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    transform: scale(1.05); /* Slightly scale up the active item */
}
.project-item.visible {
    opacity: 1;
    position: relative;
}

.images-in-colum {
    width: 100%;
    height: 50vh;
    overflow: visible;
    position: relative;
    padding-bottom: 10%;
}

.image-container {
    width: 100%;
    position: absolute;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.image-container.visible {
    transform: translateY(0);
    opacity: 1;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10%;
}

.numeric-para {
    font-family: "Microsoft YaHei";
    color: #000000;
    font-size: 20px;
    line-height: 24px;
    width: 80%;
    text-align: left;
}


/* section2 */
.section2 {
    margin-top: 10%;
    ;
}

.head-para {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.project-images-alignment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    padding: 20px;
}

.numeric-para2 {
    font-family: "Microsoft YaHei";
    color: #000000;
    font-size: 20px;
    line-height: 24px;
    width: 50%;
    text-align: left;
}

.image-container2 {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 400px;
}

.image-container2 img {
    display: block;
    width: auto;
    height: auto;
}

.interiors-card {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(139, 69, 19, 0.8);
    color: white;
    padding: 16px;
    transform: translateY(100px);
    opacity: 0;
    width: 90%;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.interiors-card.show {
    transform: translateY(0);
    opacity: 0.8;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
}

/* section4 */

.video-container {
    position: relative;
    width: 100%;
    height: 70vh;
    /* Set the desired height here, e.g., 70% of the viewport height */
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* section5 */
/* section5(contact from) */
.section5 {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    /* margin-bottom: -10%; */
}

.section6-contactus {
    padding-top: 0px;
    width: 100%;
    margin: auto;
    margin: 0;
    margin-top: -15px;
}

.section-contact {
    width: 82%;
    height: auto;
    padding: 30px;
    margin: auto;
    display: flex;
    flex-direction: row;
    /* border-radius: 40px; */
    background-image: url(/Assets/Images/form\ bgc.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.slider-contact {
    width: 40% !important;
    height: 500px;
    object-fit: cover;
}

.footer-image-container {
    width: 100%;
}

.footer-images {
    width: 100%;
    height: 69vh;
    border-radius: 40px;
    margin-top: 2%;
}

.form-container {
    width: 50%;
    padding-left: 30px;
}

.form-heading {
    font-family: var(--font2);
    font-weight: 700;
    font-size: 32px;
    color: #E2DDD0;
}

.form-caption {
    color: #E2DDD0;
    font-family: var(--font2);
    font-size: 20px;
    font-weight: 400;
    padding-top: 5px;
}

.label1 {
    color: #E2DDD0;
    font-family: var(--font2);
    font-size: 20px;
}

.fullName {
    width: 570px;
    /* height: 52px; */
    border-radius: 15px;
    padding: 15px;
    color: white;
    background: transparent;
    border: 1.2px solid #E2DDD0;
    font-family: var(--font2);
    font-size: 18px;
}

.form-block {
    padding-top: 20px;
}

.fullName::placeholder {
    padding: 10px;
    font-size: 16px;
}

.comment {
    width: 570px;
    height: 50px;
    border-radius: 15px;
    background: transparent;
    border: 1.2px solid #E2DDD0;
}

.send {
    width: 157px;
    height: 40px;
    border: 1.5px solid #E2DDD0;
    border-radius: 15px;
    background: transparent;
    color: white;
    cursor: pointer !important;
}

#sendimage {
    position: relative;
    top: 7px;
}

#formpre {
    position: relative;
    top: -15px;
    font-family: var(--font2);
    font-size: 14px;
    color: #E2DDD0;
}