@font-face {
    font-family: "Gallient Regular";
    src: url("https://db.onlinewebfonts.com/t/ecce6fb92d2957e8e04867dc281f666b.eot");
    src: url("https://db.onlinewebfonts.com/t/ecce6fb92d2957e8e04867dc281f666b.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/ecce6fb92d2957e8e04867dc281f666b.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/ecce6fb92d2957e8e04867dc281f666b.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/ecce6fb92d2957e8e04867dc281f666b.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/ecce6fb92d2957e8e04867dc281f666b.svg#Gallient Regular")format("svg");
}

@font-face {
    font-family: "Microsoft YaHei";
    src: url("https://db.onlinewebfonts.com/t/e63653407669814f5b0eb9bbdc175f77.eot");
    src: url("https://db.onlinewebfonts.com/t/e63653407669814f5b0eb9bbdc175f77.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/e63653407669814f5b0eb9bbdc175f77.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/e63653407669814f5b0eb9bbdc175f77.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/e63653407669814f5b0eb9bbdc175f77.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/e63653407669814f5b0eb9bbdc175f77.svg#Microsoft YaHei")format("svg");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* --------------------------------------------------Header------------------------- */
#majorbody {
    height: 800px;
    width: 94%;
    background-color: white;
    display: flex;
    justify-content: center;
}

#header_background {
    height: 730px;
    width: 1380px;
    margin-left: 20px;
    position: relative;
    top: 20px;
    border-radius: 62px;
}

.bgcImages {
    height: auto;
    width: 100%;
    border-radius: 60px;
    /* object-fit: fill; */
    z-index: -10;
}

.header_sliderImages {
    height: fit-content;
    width: 100%;
    z-index: -10;
}

#header_slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#header {
    height: 80px;
    width: 100%;
    /* background-color: blue; */
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    position: relative;
    top: 50px;
    z-index: infinite;
}

#logo {
    /* border: 2px solid white; */
    position: relative;
    display: flex;
    flex-basis: 20%;
    /* justify-content: center; */
    left: 120px;
}

#options {
    /* border: 2px solid green; */
    height: 50px;
    display: flex;
    flex-basis: 50%;
    left: 145px;
    top: 10px;
    position: relative;
    gap: 60px;
}
#bar_options{
    width: 200px;
    height: 250px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: absolute;
    right: 5px;
    top: -50px;
    background-color: black;
    z-index: 2;
    visibility: hidden;
}
#cross{
    color: white;
    font-size: 30px;
    position: relative;
    top: 10px;
}
.navlinks {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    height: 25px;
    /* background-color: red; */
    border-radius: 8px;
}

.navlinks:hover {
    background-color: #FFFFFF26;
}

#home {
    text-decoration: underline;
}

#socialmedia {
    height: 50px;
    /* border: 2px solid rgb(208, 218, 64); */
    display: flex;
    flex-basis: 10%;
    position: relative;
    top: 13px;
    left: 140px;
    gap: 10px;
}

#headingContent {
    display: flex;
    width: 900px;
    height: 500px;
    /* border: 2px solid green; */
}

#heading_sliding {
    display: flex;
    width: 100%;
    height: 500px;
    /* border: 2px solid green; */
}

.heading_contentblock {
    height: 300px;
    width: 860px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.headline {
    height: 300px;
    width: 840px;
    position: relative;
    left: 100px;
    top: 130px;
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.headingText {
    color: white;
    font-size: 70px;
    font-family: "gallient regular", serif;
    font-weight: 500;
    position: relative;
    left: 12px;
    top: 18px;
}

#dream {
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.7px;
}

.headingCaption {
    color: white;
    font-family: "Microsoft YaHei";
    font-size: 20px;
    font-weight: 100;
    position: relative;
    top: -25px;
    left: 15px;
    letter-spacing: 1.5px;
}

#heading_sliding .slick-dots {
    position: absolute;
    top: 452px;
    left: 120px;
    display: flex;
    gap: 10px;
}

#heading_sliding .slick-dots li {
    list-style-type: none;
}

#heading_sliding .slick-dots li button {
    width: 20px;
    height: 20px;
    color: transparent;
    /* color: red; */
    border-radius: 50%;
    border: none;
    background-color: #D9D9D9;
    font-size: 5px;
    transition: all 1s linear;
}

#heading_sliding .slick-dots .slick-active button {
    width: 60px;
    height: 20px;
    border-radius: 20px;
    border: none;
    background-color: #D9BC72;
    font-size: 5px;
}

.getcontainer {
    text-align: center;
    /* margin-top: 360px; */
    position: relative;
    top: 455px;
    left: 15px;
    height: 50px;
}

.getbtn {
    height: 40px;
    width: 180px;
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.getbtn1 {
    color: #fff;
}

.getbtn1:hover {
    color: #fff;
}

.getbtn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 15%;
    height: 100%;
    background: #FFFFFF26 !important;
    /* z-index: 1; */
    transition: 0.8s;
}

.getbtn1::before {
    top: 0;
    border-radius: 20px;
}

.getbtn1:hover::before {
    width: 100%;
}

#getInTouch {
    text-decoration: none;
    color: white;
    font-family: "Microsoft YaHei";
    font-size: 20px;
    font-weight: 400;
    position: relative;
    left: 5px;
    top: -6px;
}

#getArrow {
    width: 30px;
    height: 30px;
    /* border: 2px solid red; */
    position: relative;
    top: 9px;
    left: 5px;
    visibility: hidden;
    z-index: 45;
}
#bar {
    position: absolute;
    top: 10px;
    left: 360px;
    color: white;
    font-size: 30px;
    display: none;
}
@media (min-width:300px) and (max-width:500px){
    #majorbody {
        width: 100% !important;
        height: 500px;
    }
    #header_background {
        height: 400px;
        width: 100% !important;
    }
    .bgcImages {
        height: 400px;
        width: 400px;
        border-radius: 40px;
        /* z-index: -10; */
    }
    #headingContent{
        display: flex;
        position: absolute;
        top: 50px;
        width: 380px;
        height: 300px;
        /* border: 2px solid green; */
    }
    #heading_sliding{
        width: 100%;
        height: 300px;
        /* border: 2px solid blue; */
    }
    .headingText{
        color: white;
        font-size: 40px;
            font-family: "gallient regular", serif;
            font-weight: 500;
            position: relative;
            /* left: 12px; */
            top: 18px;
    }
    .headline{
        /* position: absolute; */
        height: 300px;
        width: 100%;
            position: relative;
            top: 0px;
            left: 0px;
            display: flex;
            flex-direction: column;
            gap: 50px;
    }
    .heading_contentblock {
            height: 300px;
            width: 260px;
            /* border: 2px solid red; */
            display: flex;
            flex-direction: column;
            gap: 50px;
    }
    .headingCaption {
               color: white;
               font-family: "Microsoft YaHei";
               font-size: 16px;
               letter-spacing: 1px;
    }
    #heading_sliding .slick-dots {
        position: absolute;
        top: 300px;
        left: 120px;
        display: flex;
        gap: 10px;
    }
    .getcontainer {
        position: absolute;
        top: 370px;
        left: 115px;
        height: 50px;
    }
    #getInTouch {
        color: black;
    }
    .getbtn::before {
        background: #4f2a2a !important;
    }
    #logo{
        position: absolute;
        height: 50px;
        width: 50px;
        left: 30px;
        top: -50px;
    }
    #bar {
        display: block;
    }
    #socialmedia{
        display: none;
    }
    #options{
        display: none;
    }
}
/* --------------------------------------------------------Our Services --------------------------------*/
#majorbody2 {
    height: 620px;
    width: 94%;
    background-color: white;
    display: flex;
    position: relative;
    /* border: 2px solid red; */
    justify-content: center;
}

#ourservices {
    /* height: 1000px; */
    /* border: 2px solid blue; */
    height: 500px;
    width: 550px;
    display: flex;
    flex-direction: column;
}

#ourservicesimage {
    /* border: 2px solid green; */
    width: 500px;
    height: 200px;
    position: relative;
    top: 30px;
    left: 30px;
}

#ourServiceLogoblock {
    width: 500px;
    height: 200px;
    /* border: 2px solid blue; */
    position: relative;
    top: 18px;
    left: -8px
}

#ourserviceOur {
    font-size: 70px;
    font-family: "gallient regular", serif;
    font-weight: 400;
}

#ourserviceService {
    font-size: 70px;
    font-family: "gallient regular", serif;
    font-weight: 400;
    position: relative;
    left: 90px;
    color: rgb(74, 21, 21);
}

#ourservicesline {
    position: relative;
    left: 90px;
    top: -28px;
}

#ourservicesimageCaption {
    /* border: 2px solid violet; */
    width: 400px;
    position: relative;
    top: 85px;
    left: 110px;
}

#ourservicesCaption {
    font-family: "Microsoft YaHei";
    font-weight: 500;
    font-size: 20px;
}

.ourServiceSlider {
    /* border: 2px solid red; */
    width: 400px;
    height: 180px;
    position: relative;
    top: 170px;
    left: 100px;
}
.our_service_slider {
    width: 400px;
    height: 180px;
    position: relative;
    top: 170px;
    left: 100px;
}

.our {
    font-family: "Microsoft YaHei";
    position: relative;
    top: 60px;
}

.our_service_selection {
    top: 0px;
}

.res {
    color: #51372A;
    font-size: 40px;
    font-weight: 500;
}

.experince {
    font-size: 20px;
    font-weight: 400;
}

.our_service_selection_experience {
    top: 0px;
}

.aboutArrow {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: relative;
    left: 310px;
    top: -50px;
    border: none;
}

.our_service_selection_Arrow {
    top: -100px;
}

#ourserviceAside {
    height: 550px;
    width: 850px;
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    /* border: 2px solid violet; */
}
#ourserviceAside .slick-dots {
    width: 1px;
    height: 510px;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    left: -20px;
    /* display: flex; */
    border: none;
    /* border: 1px solid black; */
    gap: 3px;
}

#ourserviceAside .slick-dots li {
    list-style-type: none;
}

#ourserviceAside .slick-dots li button {
    width: 5px;
    height: 128px;
    position: relative;
    top: -2px;
    left: -1px;
    color: transparent;
    border-radius: 10px;
    border: none;
    font-size: 5px;
    transition: all 1s linear;
}

#ourserviceAside .slick-dots .slick-active button {
    border-radius: 20px;
    border: none;
    background-color: #51372A;
    font-size: 5px;
}
.ourserviceAsideImages {
    width: 500px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    /* overflow: hidden; */
    position: relative;
    left: 10px;
}

.our_service_mini_slider {
    width: inherit;
    height: inherit;
    display: flex;
}

#ourserviceAside .slick_btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* background-color: black; */
    background-color: transparent;
    border: none;
    color: black;
    font-size: 16px;
    font-weight: 900;
    position: absolute;
    top: 50%;
}

#ourserviceAside .next_btn {
    top: 550px;
    right: 0px;
}

#ourserviceAside .prev_btn {
    top: 550px;
    left: 15px;
}

.category1 {
    height: 550px;
    width: 420px;
}
@media screen and (max-width:500px){
    #majorbody2 {
        height: 720px;
        width: 100%;
        flex-direction: column;
    }
    #ourservicesimage {
        width: 350px;
        height: 130px;
        position: absolute;
        top: 10px;
        left: 30px;
    }
    #ourserviceOur {
        font-size: 30px;
    }
    #ourserviceService {
        font-size: 30px;
        position: relative;
        top: -42px;
        left: 90px;
    }
    #ourservicesline{
        position: absolute;
        left: 0px;
        top: 40px;
        width: 225px;
    }
    #ourservicesimageCaption {
        width: 400px;
        position: absolute;
        top: 85px;
        left: 80px;
    }
    #ourserviceAside {
        height: 600px;
        width: 420px;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        position: relative;
        top: -40px;
        /* border: 2px solid violet; */
    }
    .ourserviceAsideImages {
        /* border: 2px solid green; */
        width: 420px;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 50px;
        left: 10px;
    }
    .our_service_mini_slider {
        width: inherit;
        height: inherit;
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
    .category1 {
        height: 250px;
        width: 420px;
    }
    .ourServiceSlider {
        width: 400px;
        height: 180px;
        position: relative;
        top: 350px;
        left: 40px;
    }
    .res {
        font-size: 20px;
    }
    .experince {
        font-size: 16px;
    }
    .our_service_selection {
        top: 60px;
    }
    .our_service_selection_experience {
        top: 60px;
    }
    .our_service_selection_Arrow {
        top: -50px;
    }
    .aboutArrow {
        width: 20px;
        height: 20px;
        left: 300px;
        top: -35px;
    }
    #ourserviceAside .slick_btn {
        display: none;
    }
}
/* ------------------------------------------------------About Company------------------------- */
.majorbody3 {
    height: 900px;
    width: 94%;
    background-color: white;
    display: flex;
    position: relative;
    /* border: 2px solid red; */
    justify-content: center;
}

#aboutcompanyblock {
    width: 94%;
    height: 200px;
    /* border: 2px solid blue; */
}

#aboutcompany {
    display: flex;
    position: relative;
    left: 65px;
    top: 20px;
}

#aboutcomapnyLogoblock {
    width: 510px;
    height: 200px;
    /* border: 2px solid blue; */
    position: relative;
    top: 5px;
    left: -10px
}

#aboutCompanyAbout {
    font-family: "gallient regular", serif;
    font-weight: 400;
    font-size: 64px;
}

#aboutCompanyCompany {
    font-family: "gallient regular", serif;
    font-weight: 400;
    font-size: 64px;
    position: relative;
    left: 148px;
    color: rgb(74, 21, 21);
}

#aboutCompanyline {
    position: relative;
    left: 150px;
    top: -25px;
}

#aboutcompanyimage {
    position: relative;
    top: 10px;
}

#aboutText {
    color: black;
    position: relative;
    top: 40px;
    left: 170px;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    font-size: 20px;
}

#aboutArrow {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: relative;
    left: 365px;
    top: 10px;
    border: none;
}

#aboutminicompanyblock {
    width: 1405px;
    height: 680px;
    display: flex;
    /* border: 2px solid green; */
}

#aboutcompanycontentblock {
    border: 1px solid rgb(94, 80, 80);
    border-radius: 35px;
    width: 810px;
    height: 640px;
    position: relative;
    top: 20px;
    left: 135px;
}

.block {
    position: relative;
    top: 45px;
    left: 65px;
    height: 180px;
    width: 550px;
    /* border: 2px solid red; */
    /* transition: all 1s linear; */
}


.aboutText {
    font-family: "Microsoft YaHei";
    font-weight: 400;
}

.text {
    font-size: 36px;
}

.caption {
    font-size: 20px;
}

#aboutcomapanyline {
    position: relative;
    left: 50px;
}

#aboutimagesalign {
    /* border: 2px solid red; */
    width: 500px;
    height: 600px;
    position: relative;
    top: 10px;
}

.image2 {
    transition: all 1s linear;
    /* opacity: 0; */
}

.aboutcompanyimages {
    position: relative;
    left: -65px;
    width: 550px;
    /* transition: all 1s linear; */
}

.aboutcompanyimages1 {
    position: relative;
    top: 10px;
    left: 0px;
}

.aboutcompanyimages2 {
    position: relative;
    top: -15px;
    left: 0px;
}

.aboutcompanyimages3 {
    position: relative;
    top: -35px;
    left: 0px;
}
@media screen and (max-width:500px) {
    .majorbody3 {
        width: 100% !important;
        height: 750px;
    }
    #aboutcompanyblock {
        width: 100%;
        height: 150px;
        /* border: 2px solid blue; */
    }
    #aboutcompany {
        width: 100%;
        display: flex;
        position: relative;
        left: 40px;
        top: 10px;
    }
    #aboutcomapnyLogoblock {
        width: 100%;
        height: 100px;
        /* border: 2px solid blue; */
    }
    #aboutCompanyAbout {
        font-size: 30px;
    }
    #aboutCompanyCompany {
        font-size: 30px;
        position: absolute;
        top: 0px;
        left: 120px;    
    }
   #aboutCompanyline {
    width: 275px;
       position: relative;
       left: 0px;
       top: -15px;
   }
   #aboutText {
       position: absolute;
       top: 60px;
       left: 50px;
       font-size: 16px;
   }
   #aboutArrow {
       position: absolute;
       left: 290px;
       top: 10px;
       border: none;
   }
   #aboutminicompanyblock {
       width: 100%;
       height: 650px;
       display: flex;
       /* border: 2px solid green; */
   }
   #aboutcompanycontentblock {
       width: 400px;
       height: 640px;
       position: relative;
       top: 0px;
       left: 15px;
   }
   .text {
       font-size: 18px;
   }
   .caption {
       font-size: 14px;
   }
   .block {
       position: relative;
       top: 10px;
       left: 40px;
       height: 180px;
       width: 350px;
       /* border: 2px solid red; */
   }
   #aboutcomapanyline {
       display: none;
   }
   #aboutimagesalign {
       /* border: 2px solid red; */
       width: 350px;
       height: 550px;
       position: absolute;
       top: 165px;
       
   }
   .aboutcompanyimages {
       position: relative;
       left: 25px;
       width: 100%;
   }
   .aboutcompanyimages1 {
       width: 100%;
   }

   .aboutcompanyimages2 {
       width: 100%;
       top: 80px;
   }

   .aboutcompanyimages3 {
       width: 100%;
       top: 145px;
   }
}
/* ---------------------------------------------------OUR Project -----------------------------------*/

#ourprojectblock {
    height: 980px;
    width: 94%;
    background-color: white;
    display: flex;
    position: relative;
    justify-content: center;
    /* border: 2px solid red; */
}

#ourprojectminiblock {
    width: 94%;
    height: 200px;
}

#ourproject {
    display: flex;
    position: relative;
    left: 65px;
    top: 20px;
}

#ourProjectLogoblock {
    width: 500px;
    height: 200px;
    /* border: 2px solid blue; */
    position: relative;
    top: 5px;
    left: -40px;
}

#ourProjectOur {
    font-family: "gallient regular", serif;
    font-weight: 400;
    font-size: 70px;
}

#ourProjectProject {
    font-family: "gallient regular", serif;
    font-weight: 400;
    font-size: 70px;
    position: relative;
    left: 85px;
    color: rgb(74, 21, 21);
}

#ourprojectText {
    color: black;
    position: relative;
    top: 71px;
    left: 55px;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    font-size: 20px;
}

#ourprojectArrow {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: relative;
    left: 372px;
    top: 72px;
    border: none;
}

#ourprojectimage {
    position: relative;
    top: 20px;
    left: -42px;
}

#slider_contentblock {
    padding: 100px 0px;
    width: 1080px;
    height: 650px;
    margin: auto;
    border: 2px solid black;
    overflow: hidden;
}

#slider_content {
    width: inherit;
    height: inherit;
    /* border: 2px solid blue; */
}

#slider_content * {
    overflow: visible;
}

.Mini_slider {
    width: 305px;
    height: 450px;
    scale: 1;
    transition: all 0.3s linear;
    z-index: 6;
    position: relative;
}

#slider_content .sliderimages {
    width: 100%;
    height: 450px;
    position: relative;
    top: 30px;
    filter: blur(5px);
}

#slider_content .slick-current {
    scale: 1.4 !important;
    z-index: 10;
    position: relative;
    width: 100%;
    height: 650px;
    /* position: relative;
    top: 30px; */
}

#slider_content .slick-current .sliderimages {
    filter: blur(0px);
}

#our_project_slider_content_caption .slick_btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 20px;
    position: absolute;
    /* position: relative; */
    /* top: 50%; */
    z-index: 2000000 !important;
}

#our_project_slider_content_caption .next_btn {
    left: 630px;
    top: -5px;
}

#our_project_slider_content_caption .prev_btn {
    top: -2px;
    left: -400px;
}

#our_project_slider_content_caption .slick-dots {
    position: relative;
    left: 85px;
    display: flex;
    gap: 3px;
}

#our_project_slider_content_caption .slick-dots li {
    list-style-type: none;
}

#our_project_slider_content_caption .slick-dots li button {
    width: 10px;
    height: 10px;
    color: transparent;
    /* color: red; */
    border-radius: 50%;
    border: none;
    background-color: black;
    font-size: 5px;
    transition: all 1s linear;
}

#our_project_slider_content_caption .slick-dots .slick-active button {
    width: 23px;
    height: 10px;
    margin-top: 7px;
    /* margin-left: 10px; */
    /* color: red; */
    border-radius: 20px;
    border: none;
    background-color: #D9BC72;
    font-size: 5px;
}

.small_slides {
    scale: 1.2;
    z-index: 8;
}

#our_project_caption {
    width: 350px;
    height: 50px;
    /* border: 2px solid black; */
    position: relative;
    top: 20px;
    left: 505px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#our_project_slider_content_caption {
    height: inherit;
    width: inherit;
    position: relative;
    /* top: -10px; */
    left: 25px;
}

.our_project_caption_text {
    font-family: "Microsoft YaHei";
    font-weight: 400;
    font-size: 18px;
    /* color: red; */
}
@media (max-width:500px){
    #ourprojectblock {
        height: 980px;
        width: 100%;
            /* border: 2px solid red; */
    }
    #ourprojectminiblock {
        width: 100%;
        height: 150px;
        /* border: 2px solid red; */
    }
    #ourProjectLogoblock {
        width:100%;
        height: 110px;
        /* border: 2px solid blue; */
        position: relative;
        top: 5px;
        left: -40px;
    }
    #ourProjectOur {
        font-size: 30px;
    }
    
    #ourProjectProject {
        font-size: 30px;
        position: absolute;
        top: 0px;
        left: 85px;
        color: rgb(74, 21, 21);
    }
    #ourprojectText {
            position: absolute;
            top: 50px;
            left: 0px;
            font-size: 14px;
    }
    #ourprojectArrow {
            position: absolute;
            left: 230px;
            top: 42px;
            border: none;
    }
    #slider_contentblock {
        width: 380px;
        height: 550px;
        margin: auto;
        border: 2px solid black;
        overflow: hidden;
    }
    #our_project_caption {
        position: relative;
        top: 20px;
        left: 57px;
    }
        #our_project_slider_content_caption .next_btn {
            left: -55px;
            top: -10px;
        }
    
        #our_project_slider_content_caption .prev_btn {
            top: -10px;
            left:280px;
        }
                
}
/* ----------------------------------------------------OUR PORTFOLIO------------------------- */

#ourportfolioblock {
    height: 670px;
    width: 94%;
    background-color: white;
    display: flex;
    position: relative;
    /* border: 2px solid red; */
    display: flex;
}

#ourportfolio {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 65px;
    top: 20px;
}

#ourportfoliominiblock {
    width: 620px;
    height: 650px;
    /* border: 2px solid red; */
}

#ourPortLogoblock {
    width: 550px;
    height: 200px;
    /* border: 2px solid blue; */
    position: relative;
    top: 5px;
    left: -40px;
}

#ourPortOur {
    font-family: "gallient regular", serif;
    font-weight: 400;
    font-size: 70px;
    position: relative;
    left: 35px;
}

#ourPortProject {
    font-family: "gallient regular", serif;
    font-weight: 400;
    font-size: 70px;
    position: relative;
    left: 120px;
    color: rgb(74, 21, 21);
}

#ourportimage1 {
    width: 390px;
    height: 600px;
    position: relative;
    top: 20px;
    /* border: 2px solid red; */
}

#ourportimage2 {
    position: relative;
    top: 10px;
}

#ourportimage {
    position: relative;
    left: 8px;
    width: 462px;
    height: 150px;
}

#ourportText {
    position: relative;
    top: 50px;
    left: 85px;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    font-size: 20px;
}

#ourportArrow {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: relative;
    left: 80px;
    top: 255px;
    border: none;
}

/* ----------------------------------------------------TESTIMONIAL ------------------------*/
#ourtestblock {
    height: 530px;
    width: 94%;
    background-color: white;
    display: flex;
    position: relative;
    /* padding: 40px; */
    /* border: 2px solid blue; */
}

#ourtestminiblock {
    width: 620px;
    height: 500px;
    /* border: 2px solid red; */
}

#ourTest {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 65px;
    /* top: 20px; */
}

#ourTestblock {
    width: 550px;
    height: 150px;
    /* border: 2px solid blue; */
    position: relative;
    top: 15px;
    left: -35px;
}

#ourTestTest {
    font-family: "gallient regular", serif;
    font-weight: 400;
    font-size: 70px;
    position: relative;
    left: 37px;
    top: 20px;
    color: rgb(74, 21, 21);
}

#ourTestimage1 {
    width: 785px;
    height: 450px;
    margin-top: 30px;
    /* border: 2px solid red; */
}

#ourTestimage {
    position: relative;
    top: 20px;
    height: 58px;
    width: 457px;
}

#ourTestText {
    font-family: "Microsoft YaHei";
    font-weight: 500;
    font-size: 20px;
    position: relative;
    top: 40px;
    left: 85px;
}

.ourTestAside {
    width: 785px;
    height: 410px;
    /* border: 2px solid green; */
    border: 1.8px solid rgb(94, 80, 80);
    border-radius: 30px;
    position: relative;
    /* top: 45px;
    left: 0px; */
    display: flex;
    flex-direction: row;
}

.ourTest_block_container {
    width: 785px;
    height: 450px;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    /* border: 2px solid green; */
    background-image: url(./Images/quote.png);
    background-position-y: -50px;
    background-position-x: 30px;
}

.ourTestAsideText {
    width: 450px;
    height: 300px;
    /* border: 2px solid black; */
    position: relative;
    top: 80px;
    left: 22px;
    /* display: flex; */
}

#ourTestArrow {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: relative;
    left: 80px;
    top: 160px;
    border: none;
}

.ourTestTextAside {
    height: 150px;
    width: 425px;
    /* border: 2px solid red; */
    font-family: "Microsoft YaHei";
    font-weight: 500;
    line-height: 22px;
    position: relative;
    font-size: 16px;
    text-align: start;
    /* display: flex; */
}

.ourTestimage2 {
    position: relative;
    left: 3px;

}

.ourTestRegards {
    font-family: "Microsoft YaHei";
    font-size: 20px;
    font-weight: 400;
    position: relative;
    top: 60px;
}

.ourTestCEO {
    font-family: "Microsoft YaHei";
    font-size: 14px;
    font-weight: 100;
    position: relative;
    top: 65px;
}

#ourTestforButtons {
    width: 130px;
    height: 40px;
    /* border: 2px solid blue; */
    position: relative;
    left: 390px;
    top: 110px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#ourTestimage1 .slick_btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
    background-color: transparent;
    border: none;
    color: black;
    font-size: 16px;
    font-weight: 900;
    position: absolute;
    left: -60px;
    top: 355px;
}

#ourTestimage1 .next_btn {
    left: -82px;
}

#ourTestimage1 .prev_btn {
    left: -153px;
}
#ourTestimage1 .slick-dots {
    width: 785px;
    height: 15px;
    border-radius: 10px;
    position: relative;
    top: 20px;
    display: flex;
    background-color: #D9D9D9;
    /* border: 2px solid black; */
    gap: 3px;
}

#ourTestimage1 .slick-dots li {
    list-style-type: none;
}

#ourTestimage1 .slick-dots li button {
    width: 192px;
    height: 8px;
    position: relative;
    top: -5px;
    left: 4px;
    color: transparent;
    /* color: red; */
    border-radius: 10px;
    border: none;
    background-color: #D9D9D9;
    font-size: 5px;
    transition: all 1s linear;
}

#ourTestimage1 .slick-dots .slick-active button {
    /* margin-left: 10px; */
    /* color: red; */
    border-radius: 20px;
    border: none;
    background-color: black;
    font-size: 5px;
}
#ourTestArrow1 {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    /* border: 2px solid red; */
    background-color: transparent;
}

#ourFormblock {
    height: 580px;
    width: 94%;
    background-color: white;
    display: flex;
    position: relative;
    /* border: 2px solid red; */
    display: flex;
}

#ourFormMiniblock {
    width: 1180px;
    height: 542px;
    /* border: 2px solid red; */
    border-radius: 60px;
    position: relative;
    top: 20px;
    left: 125px;
    background-image: url(./Images/form\ bgc.png);
}

#ourFormimage {
    position: relative;
    left: 28px;
    top: 35px;
}

/* ---------------------------------------------------Form section----------------------------- */
#form_container {
    width: 600px;
    height: 500px;
    /* border: 2px solid red; */
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 530px;
}

#ourFormImages_sliding {
    height: 470px;
    width: 470px;
    margin-top: 38px;
    margin-left: 30px;
    border-radius: 30px;
    /* padding-top: 20px; */
    /* border: 2px solid red; */
}

#form_Heading {
    color: #E2DDD0;
    font-family: "Microsoft YaHei";
    font-weight: 700;
    font-size: 32px;
}

#form_Caption {
    color: #E2DDD0;
    font-family: "Montserrat";
    font-size: 16px;
    position: relative;
    top: 5px;
    font-weight: 400;
}

.label1 {
    color: #E2DDD0;
    font-family: "Montserrat";
    font-size: 16px;
}

.fullName {
    width: 570px;
    height: 52px;
    border-radius: 15px;
    padding: 20px;
    color: white;
    background: transparent;
    border: 1.2px solid #E2DDD0;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.fullName::placeholder {
    padding: 10px;
    font-size: 17px;
}

.comment {
    width: 570px;
    height: 100px;
    border-radius: 15px;
    background: transparent;
    border: 1.2px solid #E2DDD0;
}

.send {
    width: 157px;
    height: 50px;
    border: 1.5px solid #E2DDD0;
    border-radius: 15px;
    background: transparent;
    color: white;
}

#sendimage {
    position: relative;
    top: 5px;
}

#formpre {
    position: relative;
    top: -15px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #E2DDD0;
}

/* -----------------------------------------------Footer---------------------------------- */
#info_Block {
    height: 100px;
    width: 94%;
    background-color: white;
    display: flex;
    position: relative;
    /* border: 2px solid red; */
    display: flex;
}

#info_Logo {
    font-family: "Microsoft YaHei";
    font-weight: 700;
    font-size: 14px;
    color: #51372A;
    width: 270px;
    /* border: 2px solid green; */
    position: relative;
    left: 125px;

}

#info_mail {
    width: 300px;
    /* border: 2px solid green; */
    position: relative;
    left: 125px;
}

#info_address {
    width: 350px;
    /* border: 2px solid green; */
    position: relative;
    left: 125px;
}

#info_phone {
    width: 250px;
    /* border: 2px solid green; */
    position: relative;
    left: 125px;

}

.footerlogo {
    width: 150px;
    height: 70px;
    position: absolute;
    top: 20px;
    left: 50px;
}

.footermail {
    position: absolute;
    top: 40px;
    left: 50px;
}

.footermailid {
    position: absolute;
    top: 40px;
    left: 90px;
}

.footerAdderss {
    position: absolute;
    top: 40px;
    left: 20px;
}

.footercon {
    font-family: "Microsoft YaHei";
    font-weight: 400;
    font-size: 16px;
    color: #51372A;
}

.footerAddressName {
    position: absolute;
    top: 40px;
    left: 50px;
}

.footercall {
    position: absolute;
    top: 38px;
    left: 26px;
}

.footerNumber {
    position: absolute;
    top: 30px;
    left: 60px;
}

/* -------------------------------------------------Licience--------------------------------------- */
#licience {
    height: 40px;
    width: 94%;
    background-color: white;
    display: flex;
    position: relative;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
}

#licienceName {
    color: #51372A;
    font-family: "poppins";
    font-weight: 600;
    font-size: 14px;
}