/* ----------------------mobile phones ---------------  */
@media screen and (max-width:500px) {
    /* ------------------------section1-------------- */
    .section1 {
        margin: 0px 0%;
        width: 100%;
        height: auto !important;
        padding-bottom:10px;
        /* overflow: hidden; */
    }
    .section-background{
        margin: 0%;
        height: auto;
        background-size: cover;
        /* background-repeat: no-repeat; */
        border-radius: 20px;
        padding-bottom: 0px;
    }
    .nav-section{
        display: none;
    }
    .socialmedia-section{
        display: none;
    }
    .logo-section {
        padding-top: 10px;
        padding-right: 0px;
        margin-left: -10%;
    }
    .logo {
        width: 80px;
    }
    .header-section{
        justify-content: start;
    }
    #bar{
        display: block;
    }
    .section1-heading-text{
        font-size: 30px;
    }
        .section1-heading-content {
            display: block;
            justify-content: center;
            /* justify-content: space-between; */
            width: 100%;
            height: auto;
            margin: 0;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-top: 0;
            /* padding: 0; */
        }
        .section1-heading {
            width: 100%;
            /* overflow: hidden !important; */
            padding-left: 0;
        }
        .section1-heading-caption {
            font-size: 16px;
            font-weight: 100;
            letter-spacing: 1px;
            padding-top: 20px;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .getcontainer {
            justify-content: center;
            text-align: center;
            margin-top: 0px;
            padding-right: 10px;
            padding-top: 10px;
            height: 50px;
            transform: translateX(0px);
        }
                .section1-heading .slick-dots {
                    padding-top: 10px;
                    display: flex;
                    gap: 10px;
                }
        .section1-heading .slick-dots li button {
            width: 10px;
            height: 10px;
            /* margin-top: -300px; */
        }
    
        .section1-heading .slick-dots .slick-active button {
            width: 60px;
            height: 10px;
        }
    /* ---------------------section2 our services---------------------- */


    .section2 {
        margin: 0px 0%;
        width: 100%;
        height: auto;
        padding-top: 0px;
        padding-bottom: 0px;
        /* display: none; */
        /* overflow: hidden; */
    }
    .ourservice-section {
        display: flex !important;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .headingour {
        font-size: 40px;
    }
        .ourserviceService {
            margin-left: 20%;
            text-align: start;
            margin-top: 0px;
            margin-bottom: 0px;
            padding-bottom: 0;
            /* width: 100%; */
            /* text-decoration: ; */
        }
    .section2-ourservices-ourservices{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }
.ourservicesCaption {
    font-size: 16px;
    margin-left: 27px;
    text-align: center;
    margin-top: -10%;
}

.miniheading {
    font-size: 24px;
    padding-top: 30px;
    margin-left: 0px;
    text-align: center;
}
.miniheading-caption {
    font-size: 20px;
    text-align: center;
    margin-left: 0px;
}
.our_ser_Arrow {
    display: none !important;
}
.our-service-slider{
    display: flex;
    flex-direction: row;
}
.miniheading-caption {
    font-size: 20px;
    margin-top: 0px;
    margin-left: 0px;
}
.section2-ourservices-aside1 {
    width: 100%;
}

.section2-ourserives-aside2 {
    width: 100%;
    margin-top: 0px;
}
.ourService-aside-slider2 .slick_btn {
    display: none !important;
}
.ourService-aside-slider2 .slick-dots li button {
    display: none !important;
}
.ourService-aside-slider2 .slick-dots {
    display: none !important;
}
.ourservices-images {
    /* overflow: hidden !important; */
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-evenly;
    object-fit: cover;
    height: auto;
}
.ourser-images1, .ourser-images2{
    height: 40vh;
    width: auto;
}

        /* ------------------------section 3 about company---------------- */
    .section3 {
        margin: 0px 0%;
        padding-bottom: 0px;
        padding-top: 0px;
        /* display: none; */
        /* overflow: hidden; */
    }
.about-company-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.aboutcompany-aside2 {
    display: none;
}
.headingour {
    font-size: 40px;
}
.ourserviceOur {
    /* padding-top: 10px; */
    margin-left: 40px;
    color: black;
}
.ourcompany-caption{
    padding-left: 10%;
}
.ourcompany-text {
    text-align: center;
    margin-left: 30px;
}
.aboutcompany-caption {
    font-size: 16px;
    text-align: center;
    padding-top: 0px;
    padding-right: 0px;
}
.our_com_Arrow {
   display: none;
}
.aboutcompany-content-line {
    display: none;
}
.aboutcompany-aside1 {
    padding-left: 10%;
    padding-top: 10px;
}
.aboutcompany-block .about-bg-border{
    left: 8%;
    width: 85%;
}
.aboutcompany-text{
    font-size: 30px;
}

.about-text-caption {
    font-size: 16px;
}
.aboutcompanyaside1-card2-content {
    padding-top: 15%;
}
.aboutcompanyaside1-card3-content{
    padding-top: 15%;
}
.aboutcompany-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: -5% 0px 0px 4%;
}
.aboutcompanyaside1-card1,.aboutcompanyaside1-card2,.aboutcompanyaside1-card3{
    margin-top: 0px;
    padding-left: 7%;
    flex-direction: column;
    align-items: center;
}
.aboutcompany-block .about-bg-border {
    left: 1%;
    width: 96%;
    height: 93%;
    z-index: 0;
    border-radius: 30px;
    border: 1px solid black;
}
.about-company-aside2-card2 {
    margin-top: 0px;
}

.about-company-aside2-card3 {
    margin-top: 0px;
}
.aboutcompanyaside1-card2 {
    margin-top: -50px;
    padding-top: 0px;
    flex-direction: column;
}
.design-project{
    width: 95%;
}
.aboutcompanyaside1-card3 {
    margin-top: -50px;
    flex-direction: column;
    align-items: center;
}
    /* --------------------- our project--------------- */
    #ourprojectblock {
        margin: 0px 0%;
        display: none;
        /* overflow: hidden; */
    }
    #our_project_slider_content_caption .slick_btn {
        display: none;
    }
#our_project_slider_content_caption .next_btn {
    display: none;
}

#our_project_slider_content_caption .prev_btn {
    display: none;
}
    /* ----------------------------section5 portfolio--------------- */
    .section4{
        margin: 0px 0%;
        padding-bottom: 5px;
    }
    .our_port_Arrow{
        display: none;
    }
    .ourport-section2-block1{
        width: 100%;
    }
    .ourport-section2-block2{
        width: 100%;
    }
    .our-port-section1 {
        width: 100%;
    }
    .our-port-section2 {
        width: 100%;
        margin-right: 0%;
        padding-left: 0;
        justify-content: space-evenly;
        padding-top: 20px;
    }
.ourportimage1{
    width: 100%;
    padding: 2%;
}

.ourport-caption {
    padding-top: 0px;
    text-align: center;
}

    /* -------------------------- */
.our-port-section {
    flex-direction: column;
}
.portfolio{
    padding: 0;
    margin-top: -1%;
    margin-left: 20%;
    /* text-align: center; */
}
.ourport-caption {
    padding-top: 0px;
    width: 100%;
}

/* ---------------section 6 testimonial------------ */
    .section5{
        /* display: none; */
        margin: 0px 0%;
        padding-bottom: 0px;
        /* overflow: hidden; */
    }
    .our_test_Arrow{
        display: none;
    }
        .test-aside1 {
            width: 100%;
        }
    
        .test-aside2 {
            width: 100%;
        }
.section5-block {
    display: flex;
    flex-direction: column;
}
.testmonial {
    margin-top: -7%;
    margin-left: 10%;
}
#test-aside2-caresel .slick-dots {
    display: none !important;
}
.content-holder {
    margin-left: 0px;
}
.test-content {
    width: 98%;
    margin: 5px;
    padding: 0px 20px;
}
.test-content-parent {
    padding: 20px 10px 10px;
}
.test-content-parent2 {
    gap: 50px;
    padding: 0px 20px 10px;
}
.test-text {
    font-weight: 400;
    font-size: 14px;
    /* text-align: justify; */
}
.test-smile-image{
    width: 150%;
    height: 40%;
    transform: translate(-55px);
    
    bottom: 0;
}
.test-name {
    margin-top: 30px;
    padding: 0;
}
.test-content-head {
    background-image: url(./Images/quote.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: -50px;
    background-position-x: 20px;
    margin-left: 10px;
    padding: 10px 0;

}


/* -------------------------contact us----------------- */
.section6{
        /* display: none; */
        margin: 0px 0%;
        /* overflow: hidden; */
    }
        .slider-contact {
            border-radius: 20px;
            width: auto !important;
            height: 30vh;
            object-fit: cover;
        }
        .section6-contactus {
            padding-top: 5px;
        }
        .section-contact {
            width: 95%;
            padding: 30px;
            background-position-x: 10%;
            background-size: cover;
            margin: 0 2%;
            flex-direction: column;
        }
                .fullName {
                    width: 100%;
                    height: 52px;
                    border-radius: 15px;
                    padding: 0px;
                }
                .form-container {
                    padding-left: 0px;
                }
                .footer{
                    flex-direction: column;
                    gap: 10px;
                            margin-left: 10%;
                            margin-right: 10%;
                            margin-top: 10px;
                            justify-content: space-between;
                        
                }
                .footerline{
                    display: none;
                }
                                .info-mail-block {
                                    display: flex;
                                    gap: 20px;
                                    margin-top: 0px !important;
                                    padding-left: 2%;
                                }
                                                                .info-phone-block {
                                                                    margin-top: 0px !important;
                                                                }
    .form-heading{
        font-size: 25px;
    }
        .fullName::placeholder {
            padding: 10px;
            font-size: 14px;
        }
                #formpre {
                    position: relative;
                    top: -5px;
                    font-size: 16px;
                }
}

/* ----------------------from mobile to tablet ---------------  */
@media screen and (min-width:501px) and (max-width:880px) {    
            /* ------------------------section1-------------- */
            .section1 {
                margin: 0px 0%;
                width: 100%;
                height: auto !important;
                padding-bottom: 10px;
                /* overflow: hidden; */
            }
    
            .section-background {
                margin: 0%;
                height: auto;
                background-size: cover;
                /* background-repeat: no-repeat; */
                border-radius: 20px;
                padding-bottom: 50px;
            }
    
            .nav-section {
                display: none;
            }
    
            .socialmedia-section {
                display: none;
            }
    
            .logo-section {
                padding-top: 10px;
                padding-right: 0px;
                margin-left: 5%;
            }
    
            .logo {
                width: 80px;
            }
    
            .header-section {
                justify-content: start;
            }
    
            #bar {
                display: block;
            }
    
            .section1-heading-text {
                font-size: 50px;
                padding-left: 2%;
            }
    
            .section1-heading-content {
                display: block;
                justify-content: center;
                /* justify-content: space-between; */
                width: 100%;
                height: auto;
                margin: 0;
                padding-bottom: 10px;
                padding-left: 20px;
                padding-top: 30px;
                /* padding: 0; */
            }
    
            .section1-heading {
                width: 100%;
                /* overflow: hidden !important; */
                padding-left: 0;
            }
    
            .section1-heading-caption {
                font-size: 16px;
                font-weight: 100;
                letter-spacing: 1px;
                padding-top: 20px;
                margin-bottom: 0;
                padding-bottom: 0;
                padding-left: 2%;
            }
    
            .getcontainer {
                justify-content: end;
                text-align: end;
                margin-top: 0px;
                padding-right: 10px;
                padding-top: 20px;
                height: 50px;
                /* padding-bottom: 50px; */
                transform: translateX(0px);
            }
    
            .section1-heading .slick-dots {
                padding-top: 50px;
                display: flex;
                gap: 10px;
                padding-left: 2%;
            }
    
            .section1-heading .slick-dots li button {
                width: 15px;
                height: 15px;
                /* margin-top: -300px; */
            }
    
            .section1-heading .slick-dots .slick-active button {
                width: 60px;
                height: 15px;
            }
    
            /* ---------------------section2 our services---------------------- */
            .section2 {
                margin: 0px 0%;
                width: 100%;
                height: auto;
                padding-top: 10px;
                padding-bottom: 0px;
                /* display: none !important; */
                /* overflow: hidden; */
            }
    
            .ourservice-section {
                display: flex !important;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
            }
    
            .headingour {
                font-size: 50px;
            }
    
            .ourserviceService {
                margin-left: 10%;
                text-align: start;
                margin-top: -15px;
                margin-bottom: 0px;
                padding-bottom: 0;
                /* width: 100%; */
                /* text-decoration: ; */
            }
    
            .section2-ourservices-ourservices {
                display: flex;
                flex-direction: column;
                justify-content: center;
                /* align-items: center; */
            }
    
            .ourservicesCaption {
                font-size: 16px;
                margin-left: 27px;
                text-align: center;
                margin-top: -9%;
            }
            .miniheading {
                font-size: 24px;
                padding: 0px;
                margin: 0;
                margin-left: 0px;
                text-align: center;
            }
    
            .miniheading-caption {
                font-size: 16px;
                /* text-align: start; */
                margin-left: 0px;
                text-align: center;
            }

            .our_ser_Arrow {
                display: none !important;
            }
    
            .our-service-slider {
                display: flex;
                flex-direction: row;
                margin-top: 1%;
            }
    
            .section2-ourservices-aside1 {
                width: 100%;
            }
    
            .section2-ourserives-aside2 {
                width: 100%;
                margin-top: 30px;
            }
    
            .ourService-aside-slider2 .slick_btn {
                display: none !important;
            }
    
            .ourService-aside-slider2 .slick-dots li button {
                display: none !important;
            }
    
            .ourService-aside-slider2 .slick-dots {
                display: none !important;
            }
    
            .ourservices-images {
                /* overflow: hidden !important; */
                display: flex !important;
                flex-direction: column !important;
                justify-content: space-evenly;
                object-fit: cover;
                height: auto;
            }
    
            .ourser-images1,
            .ourser-images2 {
                height: 50vh;
                width: auto;
            }
    
            /* ------------------------section 3 about company---------------- */
            .section3 {
                margin: 0px 0%;
                padding-bottom: 20px;
                padding-top: 0px;
                /* display: none !important; */
                /* overflow: hidden; */
            }
    
            .about-company-section {
                display: flex;
                flex-direction: column;
                /* flex-direction: row; */
                justify-content: space-around;
            }
    /* .our-company-tab{
        margin: 0;
        padding: 0;
    } */
            .aboutcompany-aside2 {
                display: none;
            }
    
            .headingour {
                font-size: 40px;
            }
    
            .ourserviceOur {
                /* padding-top: 10px; */
                margin-left: 40px;
                color: black;
            }
    
            .ourcompany-caption {
                        transform: translate(100%, -80px);
                        padding-top: 10px;
                /* padding-left: 10%; */
            }
    
            .ourcompany-text {
                text-align: center;
                margin-left: 30px;
            }
    
            .aboutcompany-caption {
                font-size: 16px;
                text-align: center;
                padding-top: 0px;
                padding-right: 0px;
                        /* transform: translate(20%, -100px); */
                        margin-top: 0px;
                        margin-left: 0%;
            }
    
            .our_com_Arrow {
                display: none;
            }
    
            .aboutcompany-content-line {
                display: none;
            }
    
            .aboutcompany-aside1 {
                padding-left: 10%;
                padding-top: 10px;
            }
    
            .aboutcompany-block .about-bg-border {
                left: 8%;
                width: 85%;
            }
    
            .aboutcompany-text {
                font-size: 30px;
            }
    
            .about-text-caption {
                font-size: 16px;
            }
    
            .aboutcompanyaside1-card2-content {
                padding-top: 4%;
            }
        .aboutcompanyaside1-card3-content{
            padding-top: 4%;
        }
            .aboutcompany-block {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: -4% 0px 0px 4%;
            }
    
            .aboutcompanyaside1-card1,
            .aboutcompanyaside1-card2,
            .aboutcompanyaside1-card2 {
                margin-top: 0px;
                flex-direction: column;
                align-items: center;
            }
    
            .aboutcompany-block .about-bg-border {
                left: 1%;
                width: 96%;
                height: 95%;
                z-index: 0;
                border-radius: 30px;
                border: 1px solid black;
            }
    
            .about-company-aside2-card2 {
                margin-top: 0px;
            }
    
            .about-company-aside2-card3 {
                margin-top: 0px;
            }
    
            .aboutcompanyaside1-card2 {
                margin-top: -50px;
                padding-top: 0px;
                flex-direction: column;
            }
    
            .design-project {
                width: 95%;
            }
    
            .aboutcompanyaside1-card3 {
                margin-top: -50px;
                flex-direction: column;
                align-items: center;
            }
    
            /* --------------------- our project--------------- */
            #ourprojectblock {
                margin: 0px 0%;
                display: none;
                /* overflow: hidden; */
            }
    
            #our_project_slider_content_caption .slick_btn {
                display: none;
            }
    
            #our_project_slider_content_caption .next_btn {
                display: none;
            }
    
            #our_project_slider_content_caption .prev_btn {
                display: none;
            }
    
            /* ----------------------------section5 portfolio--------------- */
            .section4 {
                margin: 0px 0%;
                padding-bottom: 5px;
                /* display: none; */
            }
    
            .our_port_Arrow {
                display: none;
            }
    
            .ourport-section2-block1 {
                width: 100%;
            }
    
            .ourport-section2-block2 {
                width: 100%;
            }
    
            .our-port-section1 {
                width: 100%;
            }
    
            .our-port-section2 {
                width: 100%;
                margin-right: 0%;
                padding-left: 0;
                justify-content: space-evenly;
                padding-top: 20px;
            }
    
            .ourportimage1 {
                width: 100%;
                padding: 2%;
            }
    
            .ourport-caption {
                padding-top: 0px;
                text-align: center;
            }
    
            /* -------------------------- */
            .our-port-section {
                flex-direction: column;
            }
    
            .portfolio {
                padding: 0;
                margin-left: 10%;
                /* text-align: center; */
            }
    
            .ourport-caption {
                padding-top: 0px;
                width: 100%;
            }
            /* ---------------section 6 testimonial------------ */
            .section5 {
                /* display: none; */
                margin: 0px 0%;
                padding-bottom: 0px;
                /* overflow: hidden; */
            }
    
            .our_test_Arrow {
                display: none;
            }
    
            .test-aside1 {
                width: 100%;
            }
    
            .test-aside2 {
                width: 100%;
                padding: 2%;
            }
    
            .section5-block {
                display: flex;
                flex-direction: column;
            }
    
            .testmonial {
                margin-left: 10%;
            }
            #test-aside2-caresel .slick-dots {
                display: none !important;
            }
    
            .content-holder {
                margin-left: 0px;
            }
    
            .test-content {
                width: 98%;
                margin: 5px;
                padding: 10px 10px;
            }

                .test-content-parent {
                    padding: 20px 10px 10px;
                }
        
                .test-content-parent2 {
                    gap: 50px;
                    padding: 0px 20px 10px;
                }
            .test-text {
                font-weight: 400;
                font-size: 14px;
            }
            .test-name {
                margin-top: 50px;
                padding: 0;
            }
        .test-smile-image {
            width: 100%;
            height: auto;
            /* transform: translate(-55px); */
    
            bottom: 0;
        }
            .test-content-head {
                background-image: url(./Images/quote.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position-y: -50px;
                background-position-x: 40%;
                margin-left: 10px;
                padding: 10px 0;
    
            }
    
    
            /* -------------------------contact us----------------- */
            .section6 {
                /* display: none; */
                margin: 0px 0%;
                padding-bottom: 5%;
                /* overflow: hidden; */
            }
    
            .slider-contact {
                border-radius: 20px;
                width: auto !important;
                height: 30vh;
                object-fit: cover;
            }
    
            .section6-contactus {
                padding-top: 5px;
                margin-bottom: -100px;
            }
    
            .section-contact {
                width: 95%;
                padding: 30px;
                background-position-x: 10%;
                /* border-radius: 20px; */
                margin: 0 2%;
                flex-direction: column;
            }
    
            .fullName {
                width: 100%;
                height: 52px;
                border-radius: 15px;
                padding: 20px;
            }
    
            .form-container {
                padding-left: 0px;
            }

            .footerline {
                display: none;
            }
                        .footer {
                            margin-left: 0%;
                            margin-right: 10%;
                            margin-top: 70px;
                            padding-bottom: 15%;
                            display: flex;
                            flex-direction: row;
                            gap: 10px;
                        }
        .footerlogo {
            margin-left: -5%;
            padding-left: 0px;
            padding-bottom: 0px;
        }
        .info-mail-block {
            display: flex;
            gap: 2px;
            margin-top: 0;
            margin-right: 0px;
        }
                .info-phone-block {
                    margin-top: 5%;
                    margin-left: 0%;
                }
                .footer-logo-tab{
                    display: none;
                }
                .footer-logo-tab2{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 150px;
                    margin-top: -10%;
                    margin:-12% 0% 0% 0%;
                    padding-left: -50%;
                    /* align-items: center; */
                }

}

/* --------------------------------------------------------- from tablet to medium size laptops  */
@media screen and (min-width:881px) and (max-width:1480px) {    
            .section1 {
                margin: 0 3%;
                height: auto !important;
                padding-bottom: 30px;
            }
    
            .section-background {
                margin: 0%;
                height: auto;
                background-size: cover;
                border-radius: 50px;
                padding-bottom: 100px;
            }    
    
            .logo-section {
                padding-top: 30px;
                padding-right: 0px;
                margin-left: 0%;
            }
    
            .logo {
                width: 100px;
            }
    .socialmedia-section{
        padding-right: 10% ;
    }
        .nav-list-options {
            gap: 40px;
            padding-top: 20px;
        }
            .header-section {
                justify-content: space-evenly;
               
            }
    
            .section1-heading-text {
                font-size: 64px;
                padding-left: 2%;
            }
    
            .section1-heading-content {
                display: block;
                justify-content: center;
                width: 100%;
                height: auto;
                margin: 0;
                padding-bottom: 10px;
                padding-left: 20px;
                padding-top: 60px;
            }
    
            .section1-heading {
                width: 100%;
                padding-left: 0;
            }
    
            .section1-heading-caption {
                font-size: 20px;
                font-weight: 100;
                letter-spacing: 1px;
                padding-top: 20px;
                margin-bottom: 0;
                padding-bottom: 0;
                padding-left: 2%;
            }
    
            .getcontainer {
                justify-content: start;
                text-align: end;
                margin-top: 0px;
                padding-right: 10px;
                padding-top: 20px;
                height: 50px;
                transform: translateX(-10%);
            }
    
            .section1-heading .slick-dots {
                padding-top: 50px;
                display: flex;
                gap: 10px;
                padding-left: 2%;
            }
    
            .section1-heading .slick-dots li button {
                width: 20px;
                height: 20px;
            }
    
            .section1-heading .slick-dots .slick-active button {
                width: 60px;
                height: 20px;
            }
    
                        .section2 {
                            margin: 0px 3%;
                            padding-bottom: 0px;
                            background-color: white;
                            border-bottom: 1px solid black;
                            padding-top: 30px;
                        }
            
                        .ourservice-section {
                            display: flex !important;
                            flex-direction: row;
                            align-items: flex-start;
                            justify-content: space-evenly;
                        }
            
                        .section2-ourservices-aside1 {
                            width: 40%;
                        }
            
                        .section2-ourserives-aside2 {
                            width: 60%;
                        }
            
                        .our {
                            font-family: "Microsoft YaHei";
                            font-weight: 500;
                        }
            
                        .headingour {
                            font-size: 50px;
                            font-family: "gallient regular", serif;
                            font-weight: 400;
                        }
            
                        .ourserviceOur {
                            margin-left: 3% !important;
                            font-size: 50px !important;
                            color: black;
                        }
                            .ourserviceService {
                                    margin-top: 0px;
                                    margin-bottom: 0px;
                                    padding-bottom: 0;
                           
                            font-size: 50px !important;
                            margin-left: 15% !important;
                            margin-bottom: -20px;
                        }

                        .ourservicesCaption {
                            font-size: 20px;
                            margin-left: 10%;
                        }
            
                        .oursercaption {
                            padding-top: 20%;
                            margin-left: 15%;
                        }
            
                        .miniheading {
                            color: #51372A;
                            font-size: 30px;
                            padding-top: 70px;
                            margin-left: 15%;
                        }
            
                        .miniheading-caption {
                            font-size: 20px;
                            margin-top: 10px;
                            margin-left: 15%;
                        }
            
                        .our-service-slider {
                            display: flex;
                            flex-direction: row;
                        }
            
                        .our_ser_Arrow {
                            padding-left: 85% !important;
                            padding-bottom: 0px;
                        }
            
                        .ourService-aside-slider2 .slick_btn {
                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                            background-color: transparent;
                            border: none;
                            color: black;
                            font-size: 16px;
                            font-weight: 900;
                            padding-left: 50px;
                            position: absolute;
                        }
            
                        .ourService-aside-slider2 .next_btn {
                            right: 40px;
                        }
            
                        .ourService-aside-slider2 .prev_btn {
                            bottom: -40px;
                            left: 0px;
                        }
            
                        .section2-ourserives-aside2 {
                            padding-right: 20px !important;
                        }
            
                       
                        .ourservices-images {
                            display: flex !important;
                            object-fit: cover;
                            width: auto;
                        
                            flex-direction: row !important;
                            justify-content: space-between;
                        }
    
            .ourser-images1,
            .ourser-images2 {
                height: 150% !important;
                width: 50%;
            }
    
            .section3 {
                margin: 0px 3%;
                padding-bottom: 20px;
                padding-top: 20px;
                overflow: hidden;
            }
            .about-company-section {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
    
            .headingour {
                font-size: 40px;
            }
    
            .ourserviceOur {
                margin-left: 40px;
                color: black;
            }
    
            .ourcompany-caption {
                        transform: translate(100%, -80px);
                        padding-top: 10px;
            }
    
            .aboutcompany-caption {
                padding-right: 0px;
                margin-left: 0%;
                font-size: 16px;
            }  
            .aboutcompany-aside1 {
                padding-left: 10%;
                padding-top: 10px;
            }
            .aboutcompany-text {
                font-size: 25px;
            }
    
            .aboutcompanyaside1-card2-content {
                margin-top: 0%;
            }
    
            .aboutcompany-block {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 2% 0px 0px 4%;
            }
        .aboutcompany-text {
            font-size: 30px;
        }
    
        .about-text-caption {
            font-size: 16px;
        }
            .aboutcompanyaside1-card1,
            .aboutcompanyaside1-card2,
            .aboutcompanyaside1-card2 {
                margin-top: -5%;
                flex-direction: row;
                align-items: center;
            }
    
            .aboutcompany-block .about-bg-border {
                left: 5%;
                width: 65%;
                height: 95%;
                z-index: 0;
                border-radius: 30px;
                border: 1px solid black;
            }
    .about-company-aside2-card1{
        margin-top: 5%;
    }
    .aboutcompanyaside1-card1-content{
        padding-left: 12%;
        padding-top: 0%;
        margin-top: 5%;
    }

    .aboutcompany-content-line{
        padding-left: 12%;
        padding-top: -5%;
    }
            .design-project {
                width: 95%;
            }
        .about-text {
            margin-left: -20% !important;
        }
                .our-company-text {
                    margin-left: 15% !important;
                }
                .our_com_Arrow {
                    padding-right: 20%;
                }
            #ourprojectblock {
                margin: 0px 3%;

            }
                        #slider_contentblock {
                            width: 80%;
                            height: 650px;
                            margin: auto;
                            overflow: hidden;
                        }
            
                        #our_project_slider_content_caption .next_btn {
                            left: 140%;
                            top: -10px;
                        }
            
                        #our_project_slider_content_caption .prev_btn {
                            right: 150%;
                            top: -10px;
                        }
    
            .section4 {
                margin: 0px 3%;
                padding-bottom: 20px;
            }    
            .ourportimage1 {
                width: 100%;
                padding: 0% 2%;
            }
    
            .ourport-caption {
                padding-top: 0px;
                text-align: start;
                font-size: 16px;
            }    
            .portfolio {
                padding: 0;
                margin-left: 15%;
                text-align: center;
            }
                        .our-port-section1 {
                            width: 40%;
                        }
            
                        .ourport-caption {
                            padding-top: 50px;
                        }
            
                        .our_port_Arrow {
                            padding-top: 100px;
                            padding-left: 15%;
                        }
            
                        .our-port-section2 {
                            width: 60%;
                            margin-right: 2%;
                            justify-content: space-between;
                            padding-top: 20px;
                        }
                        .our-project-our{
                            margin-left: -18% !important;
                        }
                .our-project-pro {
                    margin-left: 0% !important;
                }
    
        .section5 {
            background-color: #fff;
            border-bottom: 1px solid black;
            margin: 0px 3%;
            padding-top: 30px;
            padding-bottom: 40px;
        }
    
        .test-aside1 {
            width: 40%;
        }
    
        .test-aside2 {
            width: 60%;
        }
    
        .testmonial {
            margin-left: 5% !important;
        }
    .client-says{
        margin-top: 100px;
        margin-left: 0;
    }
        .our_test_Arrow {
            padding-top: 100px;
            padding-left: 20%;
        }
    
        .section5-block {
            display: flex;
            flex-direction: row;
        }
    
        .test-text {
            font-weight: 400;
            font-size: 16px;
            letter-spacing: 3%;
            line-height: 23px;
        }
    
        .test-name {
            margin-top: 100px;
        }
    
        .name-of-person {
            padding-bottom: 5px;
            font-size: 20px;
            font-weight: 600;
        }
    
        .test-image {
            width: 80%;
            object-fit: cover;
        }
    
        #test-smile-image {
            height: auto;
            width: auto;
        }
    
        #test-aside2-caresel .next_btn {
            left: -82px;
        }
    
        #test-aside2-caresel .prev_btn {
            left: -153px;
        }
    
#test-aside2-caresel .slick-dots li {
    list-style-type: none;
    width: 50%;
}

.text-content-parent2 {
    display: flex;
    flex-direction: row;
}

#test-aside2-caresel .slick-dots {
    width: 95%;
    /* width: 1200px; */
    height: 15px;
    border-radius: 10px;
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: row !important;
    background-color: #D9D9D9;
    /* border: 2px solid black; */
    gap: 0px;
}

#test-aside2-caresel .slick-dots li button {
    /* width: 197px; */
    width: 94%;
    height: 8px;
    position: relative;
    top: -5px;
    left: 4px;
    color: transparent;
    /* color: red; */
    border-radius: 10px;
    border: none;
    background-color: #D9D9D9;
    font-size: 5px;
    transition: all 1s linear;
}

#test-aside2-caresel .slick-dots .slick-active button {
    /* margin-left: 10px; */
    /* color: red; */
    border-radius: 20px;
    border: none;
    background-color: black;
    font-size: 5px;
}
    
            .test-content-head {
                background-image: url(./Images/quote.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position-y: -50px;
                background-position-x: 40%;
                margin-left: 10px;
                padding: 20px 0;
    
            }
    
    
.section6 {
    background-color: #fff;
    margin: 0px 3%;
    border-bottom: 1px solid black;
}
 .slider-contact{
    object-fit: cover;
    width: 40%;
 }
 .form-container{
    width: 60%;
}
   .section-contact {
       width: 80%;
    padding: 30px;
   }
   .fullName {
       width: 100%;
   }
   .footer-logo-laptop{
    
    margin-top: -180px !important;
    margin-left: 0px;
    width: 70%;
   }
   .footercon {
       color: #51372A;
       font-size: 15px;
       font-family: "Microsoft YaHei";
       font-weight: 400;
   }
   #info_mail{
    margin-left: -20px;
   }
   #info_phone{
    margin-left: -30px;
   }
   .footer {
       padding-bottom: 0px;
       
   }
}
/* -------------------from 15 inchs to large screen------------ */
@media screen and (min-width:1550px) and (max-width:1822px) {
    .section1 {
            margin: 0px 4%;
            /* overflow: hidden; */
        }
    
        .section2 {
            margin: 0px 4%;
            /* overflow: hidden; */
        }
    
        .section3 {
            margin: 0px 4%;
            /* overflow: hidden; */
        }
    
        #ourprojectblock {
            margin: 0px 4%;
            /* overflow: hidden; */
        }
    
        .section4 {
            margin: 0px 4%;
            /* overflow: hidden; */
        }
    
        .section5 {
            margin: 0px 4%;
            /* overflow: hidden; */
        }
    
        .section6 {
            margin: 0px 4%;
            /* overflow: hidden; */
        }
}

/* ---------------------lage-medium screens------------------------- */
@media screen and (min-width:1883px) and (max-width:2560px) {
    .section1 {
            margin: 0px 10%;
            /* overflow: hidden; */
        }
    
        .section2 {
            margin: 0px 10%;
            /* overflow: hidden; */
        }
    
        .section3 {
            margin: 0px 10%;
            /* overflow: hidden; */
        }
    
        #ourprojectblock {
            margin: 0px 10%;
            /* overflow: hidden; */
        }
    
        .section4 {
            margin: 0px 10%;
            /* overflow: hidden; */
        }
    
        .section5 {
            margin: 0px 10%;
            /* overflow: hidden; */
        }
    
        .section6 {
            margin: 0px 10%;
            /* overflow: hidden; */
        }
}

/* ------------ulta large larger screen----------- */
@media screen and (min-width:2565px) {
    .section1 {
            margin: 0px 20%;
            /* overflow: hidden; */
        }
    
        .section2 {
            margin: 0px 20%;
            /* overflow: hidden; */
        }
    
        .section3 {
            margin: 0px 20%;
            /* overflow: hidden; */
        }
    
        #ourprojectblock {
            margin: 0px 20%;
            /* overflow: hidden; */
        }
    
        .section4 {
            margin: 0px 20%;
            /* overflow: hidden; */
        }
    
        .section5 {
            margin: 0px 20%;
            /* overflow: hidden; */
        }
    
        .section6 {
            margin: 0px 20%;
            /* overflow: hidden; */
        }
}